@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.swiper-main__next::before,
.swiper-main__prev::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-buscet:before {
  content: "\e900";
}

._icon-checkmark:before {
  content: "\e901";
}

._icon-home:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-serch:before {
  content: "\e904";
}

._icon-tell:before {
  content: "\e905";
}

._icon-TWITTER:before {
  content: "\e906";
}

._icon-vk:before {
  content: "\e907";
}

._icon-youtube:before {
  content: "\e908";
}

._icon-arrow-swiper:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 6px 0px;
  border-bottom: 1px solid #eee;
  font-size: 1.125rem;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 0.875rem;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 0.875rem;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 0.875rem;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 0.875rem;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 0.875rem;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header-title {
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
}

.header-title__title {
  font-size: 2.4375rem;
  line-height: 1.1;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.25rem;
}

.header-title__subtitle {
  margin: 0 auto;
  max-width: 37.5rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.4;
}

.top-header {
  padding: 1.5625rem 0rem;
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13.75rem;
          flex: 0 1 13.75rem;
}

.top-header__logo-img {
  width: 100%;
}

.top-header__info {
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.top-header__number {
  font-size: 1.4375rem;
}

.top-header__number:nth-child(1) {
  font-weight: 600;
}

.top-header__number-tell {
  font-weight: 600;
  line-height: 1.0714285714;
}

.top-header__number-text {
  color: #1c94c4;
  line-height: 1.2857142857;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  gap: 0.3125rem;
}

.top-header__number-text::before {
  font-size: 0.875rem;
}

.serch {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.serch__button {
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 1.125rem;
}

.bootom-header {
  background-color: #1c94c4;
  position: relative;
  z-index: 50;
  width: 100%;
}

._header-scroll .bootom-header {
  position: fixed;
  top: 0px;
}

.bootom-header__container {
  width: 100%;
  position: relative;
}

.bootom-header__buscet {
  font-weight: 600;
  position: relative;
  z-index: 3;
}

.bootom-header__buscet::before {
  font-size: 1.5625rem;
  color: #f8f3f3;
  position: relative;
}

.bootom-header__buscet span {
  color: #000;
  z-index: 10;
  position: absolute;
  top: -7px;
  right: -4px;
  font-size: 0.875rem;
}

.bootom-header__buscet::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: yellow;
  display: block;
  border-radius: 50%;
}

.menu__icon div {
  position: relative;
  top: 0;
  left: -4em;
  font-size: 1.25rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.menu__body {
  background: #1c94c4;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-open .menu__list {
  top: 0;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 3.75rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border-right: rgba(255, 255, 255, 0.3) dotted 1px;
}

.menu__link:first-child {
  border-left: rgba(255, 255, 255, 0.3) dotted 1px;
}

.icon-menu {
  display: none;
}

.buscet-page {
  position: fixed;
  z-index: 50;
  top: 50%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.625rem;
  height: 4.6875rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.buscet-page::before {
  font-size: 2.1875rem;
  color: #f8f3f3;
}

.buscet-page span {
  color: #000;
  z-index: 10;
  position: relative;
  top: -15px;
  right: -4px;
  font-weight: 700;
  font-size: 0.875rem;
}

.buscet-page::after {
  content: "";
  position: relative;
  top: -15px;
  right: 10px;
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: yellow;
  display: block;
  border-radius: 50%;
}

.main__services {
  margin-bottom: 1.25rem;
}

.swiper-main {
  position: relative;
}

.swiper-main__next,
.swiper-main__prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 40px;
  height: 40px;
  background-color: #f1e9e9;
  border-radius: 50%;
}

.swiper-main__next::before,
.swiper-main__prev::before {
  content: "\e909";
  font-size: 1.5625rem;
  color: #000000;
}

.swiper-main__prev {
  left: 1.25rem;
}

.swiper-main__next {
  right: 1.25rem;
  -webkit-transform: translate(0, -50%) rotate(-180deg);
      -ms-transform: translate(0, -50%) rotate(-180deg);
          transform: translate(0, -50%) rotate(-180deg);
}

.swiper-main__image-ibg {
  padding-top: 34.2857142857%;
  min-height: 20rem;
  max-height: 30rem;
}

.swiper-main__image-fon {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-main__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  max-width: 34.375rem;
  text-align: center;
}

.swiper-main__title {
  margin-bottom: 25px;
  font-weight: 500;
  line-height: 1.1;
}

.swiper-main__sub-title {
  line-height: 1.4;
  margin-bottom: 20px;
}

.swiper-main__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
}

.swiper-main__button {
  padding: 0.625rem 1.875rem;
  border: 1px white solid;
  border-radius: 30px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-main__button_wite {
  background-color: #fff;
  color: #1c94c4;
}

.advantages-main {
  border-bottom: 1px solid #e8e8e8;
}

.advantages-main__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.advantages-main__column {
  padding: 1.875rem 0.9375rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #e8e8e8;
}

.advantages-main__column:last-child {
  border-right: 1px solid #e8e8e8;
}

.advantages-main__img {
  margin-bottom: 0.625rem;
}

.advantages-main__title {
  font-size: 1.3125rem;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-main__sub-title {
  font-size: 0.9375rem;
  text-align: center;
  height: 2.5rem;
  overflow: hidden;
  line-height: 1.42;
}

.services-main__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.25rem;
  margin: 0rem -0.625rem;
}

.services-main__columns a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0rem 0.625rem;
}

.services-main__column {
  height: 100%;
  border: 1px solid #e8e8e8;
  padding: 1.25rem;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.column-services-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-services-main__image-ibg {
  padding-top: 60.3174603175%;
  margin-bottom: 1.625rem;
}

.column-services-main__image-ibg img {
  -o-object-position: top;
     object-position: top;
}

.column-services-main__title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  line-height: 1;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.column-services-main__sub-title {
  line-height: 1.42;
  margin-bottom: 1.875rem;
}

.column-services-main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #1c94c4;
}

.column-services-main__button::before {
  font-size: 1rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-right: 0.3125rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .bootom-header__buscet {
    display: none;
  }
}

@media (min-width: 99.375em) {
  .top-header__number-tell {
    font-size: 1.4375rem;
  }

  .serch {
    -ms-flex-preferred-size: 13.75rem;
        flex-basis: 13.75rem;
  }
}

@media (min-width: 75em) {
  .menu__icon div {
    font-size: 1.25rem;
  }

  .swiper-main__title {
    font-size: 2.5rem;
  }

  .swiper-main__sub-title {
    font-size: 1.25rem;
  }

  .swiper-main__button {
    font-size: 1.25rem;
  }

  .advantages-main__img img {
    width: 6.625rem;
  }
}

@media (max-width: 48em) {
  .top-header__number-tell {
    font-size: 1.25rem;
  }

  .serch {
    -ms-flex-preferred-size: 11.25rem;
        flex-basis: 11.25rem;
  }
}

@media (max-width: 20em) {
  .menu__icon div {
    font-size: 1rem;
  }

  .swiper-main__title {
    font-size: 1.25rem;
  }

  .swiper-main__sub-title {
    font-size: 0.875rem;
  }

  .swiper-main__button {
    font-size: 0.875rem;
  }

  .advantages-main__img img {
    width: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 51.25em) {
  .top-header__info {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .top-header__logo-img {
    width: 80%;
  }

  .bootom-header {
    min-height: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bootom-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__body {
    padding-top: 2.5rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    border-bottom: rgba(255, 255, 255, 0.3) dotted 1px;
  }

  .menu__link {
    height: 2.5rem;
    font-weight: 600;
    font-size: 0.8125rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .buscet-page {
    display: none;
  }

  .advantages-main__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .advantages-main__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 38.5em) {
  .top-header__number {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .advantages-main__columns {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 48em) and (max-width: 99.375em) {
@supports (font-size: clamp( 1.25rem , 1.0748175182rem  +  0.3649635036vw , 1.4375rem )) {
    .top-header__number-tell {
      font-size: clamp( 1.25rem , 1.0748175182rem  +  0.3649635036vw , 1.4375rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0748175182rem  +  0.3649635036vw , 1.4375rem )) {
    .top-header__number-tell {
      font-size: calc(1.25rem + 0.1875 * (100vw - 48rem) / 51.375);
    }
}

@supports (flex-basis: clamp( 11.25rem , 8.9142335766rem  +  4.8661800487vw , 13.75rem )) {
    .serch {
      -ms-flex-preferred-size: clamp( 11.25rem , 8.9142335766rem  +  4.8661800487vw , 13.75rem );
          flex-basis: clamp( 11.25rem , 8.9142335766rem  +  4.8661800487vw , 13.75rem );
    }
}

@supports not (flex-basis: clamp( 11.25rem , 8.9142335766rem  +  4.8661800487vw , 13.75rem )) {
    .serch {
      -ms-flex-preferred-size: calc(11.25rem + 2.5 * (100vw - 48rem) / 51.375);
          flex-basis: calc(11.25rem + 2.5 * (100vw - 48rem) / 51.375);
    }
}
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .menu__icon div {
      font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .menu__icon div {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .swiper-main__title {
      font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .swiper-main__title {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7386363636rem  +  0.6818181818vw , 1.25rem )) {
    .swiper-main__sub-title {
      font-size: clamp( 0.875rem , 0.7386363636rem  +  0.6818181818vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7386363636rem  +  0.6818181818vw , 1.25rem )) {
    .swiper-main__sub-title {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7386363636rem  +  0.6818181818vw , 1.25rem )) {
    .swiper-main__button {
      font-size: clamp( 0.875rem , 0.7386363636rem  +  0.6818181818vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7386363636rem  +  0.6818181818vw , 1.25rem )) {
    .swiper-main__button {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 3.125rem , 1.8522727273rem  +  6.3636363636vw , 6.625rem )) {
    .advantages-main__img img {
      width: clamp( 3.125rem , 1.8522727273rem  +  6.3636363636vw , 6.625rem );
    }
}

@supports not (width: clamp( 3.125rem , 1.8522727273rem  +  6.3636363636vw , 6.625rem )) {
    .advantages-main__img img {
      width: calc(3.125rem + 3.5 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    background-color: #1486b3;
  }

  .swiper-main__button:hover {
    background-color: #1c94c4;
    color: #fff;
  }

  .services-main__column:hover {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    position: relative;
    z-index: 10;
  }
}